$color-1: rgba(202, 39, 23, 1);
$color-1-1: rgba(223, 90, 66, 1);
$color-1-2: rgba(144, 24, 17, 1);
$color-2: rgba(48, 146, 42, 1);
$color-2-1: rgba(20, 75, 7, 0.3);
$color-2-2: rgba(20, 75, 7, 0.5);
$color-2-3: rgba(59, 162, 53, 1);
$color-2-4: rgba(27, 85, 24, 1);
$color-3: rgba(243, 210, 164, 1);
$color-3-1: rgba(255, 224, 184, 1);
$color-3-2: rgba(191, 118, 46, 1);
$color-3-3: rgba(245, 204, 152, 1);
$color-3-4: rgba(191, 118, 46, 0.3);
$light: rgba(255, 255, 255, 1);
$light-2: rgba(255, 255, 255, 0.4);
$dark: rgba(40, 40, 40, 1);
